.breadcrumb-container {
  display: flex;
  margin-bottom: 1rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-family: var(--title-font);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--primary-color);
}

.breadcrumb-link {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 300;
}
.breadcrumb-link a {
  border-bottom: 1px solid var(--primary-color) !important;
  padding-bottom: 0.1em;
}

.breadcrumb-link:hover {
  color: var(--text-color);
  text-decoration: none;
}

.breadcrumb-current {
  color: var(--primary-color);
  font-weight: 500;
}

.breadcrumb-separator {
  margin: 0 0.5rem;
  color: var(--primary-color);
}
