<header class="custom-header <%= locals.heroPage ? 'header-transparent' : '' %>">
  <div class="container header-row header-row-regular">
    <div class="logo-bar">
      <a href="/" aria-label="Home">
        <img src="/assets/images/logo_white.png" alt="Stijn Stevens Logo">
      </a>
    </div>
    <%- include('./nav-links') %>
  </div>
</header>
