<%
  // Extract breadcrumb links from path
  let path = page.url;
  let parts = path.split('/').filter(p => p);
  let breadcrumbs = [];
  
  // Always add home link
  breadcrumbs.push({
    url: '/',
    text: 'HOME'
  });
  
  // Build breadcrumb trail
  let currentPath = '';
  parts.forEach((part, i) => {
    currentPath += '/' + part;
    
    // Format the text (convert slug to title case)
    let text = part.replace(/-/g, ' ').toUpperCase();
    
    // If it's the last part (current page)
    const isLastItem = i === parts.length - 1;
    
    // Special handling for "posts" and "photography"
    let breadcrumbUrl = currentPath;
    if (part === 'posts' && !isLastItem) {
      breadcrumbUrl = '/#works';
    } else if (part === 'photography' && !isLastItem) {
      breadcrumbUrl = '/photography';
      text = 'PHOTOGRAPHY';
    } else if (isLastItem) {
      breadcrumbUrl = '';
    }
    
    breadcrumbs.push({
      url: breadcrumbUrl,
      text: isLastItem && locals.title ? locals.title.toUpperCase() : text,
      isCurrent: isLastItem
    });
  });
%>

<div class="breadcrumb-container">
  <div class="breadcrumb">
    <% breadcrumbs.forEach((crumb, index) => { %>
      <% if (index > 0) { %>
        <span class="breadcrumb-separator">|</span>
      <% } %>
      
      <% if (crumb.url && !crumb.isCurrent) { %>
        <a href="<%= crumb.url %>" class="breadcrumb-link"><%= crumb.text %></a>
      <% } else { %>
        <span class="breadcrumb-current"><%= crumb.text %></span>
      <% } %>
    <% }); %>
  </div>
</div>
