---
title: Photo Gallery
description: A beautiful masonry gallery of our posts
---

<div class="container my-5">
  <h1 class="text-center mb-5">Photo Gallery</h1>
</div>

<%- include('./_includes/components/masonry-gallery', { posts: posts }) %>
